.error{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    height: 100%;
    color: white;
    background-color: rgb(38,38,38);
    align-items: center;
}