html {
    background-color: grey;
    height: 100%;
    -webkit-text-size-adjust: none;
}

#root {
    height: 100%;
}

.margin{
    margin-left: 10px;
    margin-right: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.empty_page{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.homepage{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.seek{
    font-size: 30px;
}

.header-wrapper{
    display: flex;
    background-color: rgb(38,38,38);
    color: white;
    width: 100%;
    height: 10vh;
}

.homepage-header{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
}

.apps-and-progress{
    display: flex;
    width: 100%;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.applications{
    font-size: 1.5em;
}

.body{
    display: flex;
    width: 100%;
    height: 90vh;
    padding-left: 50px;
    padding-right: 50px;
}

.application-catalog{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    flex: 1;
}

.application-description{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 2;
    padding: 20px;
    overflow: auto;
}

.button{
    margin-left: 10000px;
}